html{
  scroll-behavior: smooth;
}
body{
  background-color: burlywood;
}
#one{
  font-family: "Trirong", serif;
  background-image: url("../img/ivan-torres-MQUqbmszGGM-unsplash.jpg");
  height:89vh;
  background-size: cover;
  width: 100%;
  color: whitesmoke;
  text-align: center;
}
#pole2{
  text-decoration: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
}
.two{
  color: aqua;
}
.navbar{
  float: left;
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.five{
  background-image: url(../img/peter-bravo-de-los-rios-OklpRh8-Sns-unsplash.jpg);
  height: 120vh;
  float: right;
  background-size: cover;
  width: 100%;
  color:black;
  font-size: large;
}

.were{
  float: right;
  text-align: center;
}
.ered{
  float: right;
}
.gh{
  text-align: center;
  color: azure;
}
.ere{
  text-align: center;
  text-decoration: underline;
  color: #04AA6D;
}
.twenty{
  background-image: url(../img/pizza2.jpg);
  height: 70vh;
  background-size: cover;
  width: 100%;
  color:black;
  font-size: large;
}
.fifty{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:yellow;
}
.col-xs-4{
  font-family: fantasy;
  color: rgb(68, 3, 105);
}
.footer{
  text-align: center;

}
.sixty{
  background-color: coral;
  background-image: url(../img/pizzabg.jpg);
  height: 100vh;
}
.deed{
  text-decoration: underline;
}